* {
	font-family: 'Roboto', sans-serif;
	line-height: normal;
	margin-bottom: 0;
}

header {
	position: relative;
}

nav {
	min-height: 51px;
	background-color: #212121;
	width: 100%;
	position: fixed;
	z-index: 2;
}

header .menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu_link {
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
}

.menu .menu_item {
	border-right: 2px dotted rgb(243, 239, 239);
	padding-right: 28px;
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, 0.6);
	top: 51px;
	z-index: 1;
}

.subheader .subheader_logo {
	display: block;
	max-width: 100%;
	margin-top: 16px;
}

.subheader .subheader_official {
	margin-top: 6px;
	opacity: 0.5;
	color: #ffffff;
	font-size: 13px;
	font-weight: 100;
	line-height: 12px;
}

.subheader .subheader_call {
	margin-top: 23px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	line-height: 12px;
}

.subheader .subheader_phone {
	display: block;
	margin-top: 8px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	text-align: right;
	text-transform: uppercase;
	line-height: 12px;
}

.subheader .subheader_btn {
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
}

.promo {
	min-height: 800px;
	padding: 150px 0 135px 0;
	background: url('../img/first-screen_bg.jpg') center -40px / cover no-repeat;
	position: relative;
	top: 51px;
}

.promo .promo_header {
	margin-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 900;
	line-height: 34px;
}

.promo .promo_subheader {
	margin-top: 20px;
	margin-bottom: 0;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.promo .promo_descr {
	margin-top: 23px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.promo .promo_btn {
	display: block;
	margin: 0 auto;
	margin-top: 118px;
	width: 259px;
	height: 63px;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.reason {
	min-height: 900;
	padding: 70px 0;
}

.reason .label {
	margin: 0 auto;
	width: 112px;
	height: 24px;
	background-color: #000000;
	color: #ffffff;
	font-family: "Roboto - Thin";
	font-size: 11px;
	font-weight: 100;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

.reason .title {
	margin-top: 38px;
	margin-bottom: 0;
	color: #222222;
	font-size: 38px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
}

.reason .reason_card {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.reason .reason_card_circle {
	margin: 10px 26px 0 0;
	min-width: 113px;
	height: 113px;
	background-color: #1eacc7;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reason .reason_card_text {
	color: #202020;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	text-align: justify;
	width: 341px;
}

.reason .reason_card_text span {
	display: inline-block;
	color: #1eacc7;
	font-size: 17px;
	font-weight: 400;
	text-align: left;
}

